p  
p
	strong The Constitution of Beijing Improv 
p 北京即兴章程
p  
p
	strong Player Declaration 
p 演员声明
p  
p
	strong I, the undersigned, understand and agree that: 
p 本人，即下述签署者，理解并同意以下内容：
p  
p
	| Improv is an expressive theatrical art that explores teamwork, spontaneity, storytelling and creativity;
p 即兴表演是一种具有表现力的戏剧艺术，能够开发团队协作、自发精神、讲述故事的能力和创造性思维能力；
p  
p The city of Beijing is one of rapid change and cultural fusion; and
p 北京是一个处于日新月异发展变化、各种文化相互交融的城市；并且
p  
p
	| There is a need for art and entertainment in Beijing that frees the mind, delights the intellect, distils the meaning of life and culture in an unprecedented world and brings smiles to the lips; and
p 北京需要一种新的艺术和娱乐形式来解放思想，迎合智慧，挖掘生命与文化的意义，同时使人开怀；并且
p  
p
	| Shows should be performed and workshops led that bring laughter to the audience, exhibit professionalism in all areas of production and stretch the audience and the performers to new personal heights; and
p 我们应该通过专业的演出制作和工作坊为观众带来欢乐，并以此推动观众与演员的个人发展与提升；并且
p  
p Improv has the ability to bring us closer to the aforementioned aspirations;
p 即兴表演能够使我们接近上述愿景；
p  
p
	strong NOW, THEREFORE, 
	| let it be known that Beijing Improv, an organization formed under the laws of community, friendship, honesty and goodwill be created; that it shall be a voluntary organization that donates its proceeds to the community, that it shall strive for the above aspirations, and be governed by the rules and protocols set forth in this document and its appendices.
p
	| 基于以上，现应明悉北京即兴，这一基于社区精神、友爱、诚实与善意之组织；这一个将所得捐献给社区的志愿组织，将在本文件及其附件中所规定的守则管理之下，为实现上述愿景而努力。
p  
p
	strong I, 
	| the undersigned, promise to uphold the Constitution of Beijing Improv, to abide by the rules and protocols of my respective group(s), to defend its values, and to cleave to the value of a good laugh.
p 本人，即下属签署者，承诺遵守北京即兴章程，遵守我所在团队的规定和守则，捍卫其价值观，不忘欢笑的重要性。
p Signature
p 签名：
p _______________________
p  
p  
p  
p _______________________
p Group Coordinator(s)
p 团队协调人                
p  
p __________________________
p  
p  
p Date
p 日期
p _____/______/______
p
	strong
		br
p
	strong  
p Content
p
	a(href='#_Toc486690617') SECTION ONE (1): THE GROUPS. 3
ol
	li
		a(href='#_Toc486690618') a) Umbrella Organization. 3
	li
		a(href='#_Toc486690619') b) Membership. 3
p
	a(href='#_Toc486690620') SECTION TWO (2): LEADERSHIP. 5
ol
	li
		a(href='#_Toc486690621') a) The Board of Directors (BoD) 5
	li
		a(href='#_Toc486690622') b) Group Coordinators. 6
	li
		a(href='#_Toc486690623') c) Board Roles and Responsibilities. 7
	li
		a(href='#_Toc486690624') d) Executive Roles. 8
	li
		a(href='#_Toc486690625') e) Non-executive Roles. 8
p
	a(href='#_Toc486690626') SECTION THREE (3): SHOWS. 10
ol
	li
		a(href='#_Toc486690627') a) Performance and Performance Policies. 10
	li
		a(href='#_Toc486690628') b) Show Producer. 10
p
	a(href='#_Toc486690629') SECTION FOUR (4) - FINANCE. 11
ol
	li
		a(href='#_Toc486690630') a) Financial Policies. 11
p  
p
	strong Section 2
h1
	a(name='_Toc486690617')
	| SECTION ONE (1): THE GROUPS
p
	| 第一部分（
	strong 1
	| ）：团队
p  
ol
	li
		a(name='_Toc486690618')
		| a) Umbrella Organization 
		strong
			br
			|  a)
		strong 平台
p
	strong  
ol
	li
		strong i) 
		| Beijing Improv is the umbrella organization for various groups engaging in improv related activities and flying the Beijing Improv flag. The groups are (in order of their creation):
ul
	li The English Players
	li The Bilingual Workshop
	li The Bilingual Improv Group (BIG)
ol
	li
		strong i)
		|  北京即兴是一个承载着不同表演团队的平台，这些团队是（排名依据成立顺序）：
ul
	li 英语即兴表演组
	li 双语即兴工作坊
	li 双语即兴表演组（BIG）
p
	strong  
ol
	li
		strong ii) 
		| Each group must operate in accordance with the rules and ideals set forth in this document at all times. Each group shall have the right and responsibility to determine its own protocols, which shall be appended to this document, provided that they do not conflict with the Constitution. The goal should always be to operate as the separate limbs of a single organization.
	li
		strong ii)
		|  每个团队在任何时候均须按照本文所列规定和理念运作。各团队也可以制定团队内部守则，但该等守则应为本文之补充，不得与章程发生冲突。各团队应作为一个单一组织之不同分支进行运作。
p
	strong  
ol
	li
		a(name='_Toc486690619')
		| b) Membership
	li
		strong b) 
		strong 成员资格
p
	strong  
ol
	li
		strong i) 
		| Active Membership
p
	| ACTIVE MEMBERS shall be understood to be those members of the English Players and/or BIG currently participating in regular rehearsals, leading Bilingual Workshops, and performing in mainstage shows. In addition, Active Members may vote in all elections, propose to amend/repeal amendments to the Constitution and to nominate Guest Players to their respective group(s). Active Membership is determined by said member’s adherence to the ATTENDANCE PROTOCOLS for their respective group(s).
p
	| The above rights and responsibilities are NOT automatically extended to ALUMNI, GUEST PLAYERS, INACTIVE MEMBERS, FORMER MEMBERS, REMUNERATED STAFF, OTHER VOLUNTEERS or COMMUNITY MEMBERS unless otherwise UNANIMOUSLY determined by current Active Members.
p
	| Membership of any kind may be withdrawn at any time at the discretion of the respective group(s).
ol
	li
		strong i) 
		| 活跃成员应被理解为参与英语表演组或双语表演组常规排练、带领双语工作坊、并参加定期组内表演的演员。 此外，活跃成员可以在选举中投票、对此章程提出修正案、并推荐客串演员参与本组的演出。活跃成员须遵守本组的出勤纪律。除非现任活跃成员全体一致通过，上述权利不自动适用于离团成员、客串演员，非活跃成员，前任成员，付费员工，其他志愿者或其他社区成员。各团队均有权利在任何时候取消成员之资格。
p
	strong  
ol
	li
		strong ii) Mainstage Performance Groups (English Players and BIG) 
p
	| The Mainstage Performance groups produce the highest quality possible improv performances - professional in nature and artistically challenging for performers and audiences.
p
	| Membership to the Mainstage performance groups is by audition only, in accordance with the respective group(s) AUDITION PROTOCOLS.
p
	| Consistent practices and group bonding are a prerequisite for strong performance groups. Active Members are required to devote themselves to the weekly practices. In the time allotted for rehearsals, members must attend unless out of the city or sick. Active Members who do not show consistent devotion to the group and rehearsals may be removed at the discretion of the relevant Group.
ol
	li
		strong ii) 
		| 表演团队（英语即兴表演组及双语表演组）
p 表演团队要做出尽可能高水平的即兴表演——包含演出本身的专业性和让演出者和观众都能感受到的艺术挑战性。
p 表演团队之成员资格只能通过面试获取，并遵循各团队之面试程序。
p
	| 打造强有力的表演团队之前提条件是持续的练习和团队凝聚力。活跃成员应参加每周之练习。在规定的排练时间里，除不在本市或生病之情形外，每位成员必须出席。若活跃成员无法对团队或排练投入足够的精力，该团队有权取消其成员资格。
p
	strong  
p  
p
	strong iii) Bilingual Workshops 
p
	| All Active Members are required to be available to lead a minimum of one Bilingual Workshop per cycle at the discretion of the Bilingual Workshop Coordinator. Those unable/unavailable to do so must volunteer themselves/stand as a candidate for a separate administrative position within Beijing Improv. In extreme circumstances, as outlined in the ATTENDANCE PROTOCOLS, persons other than Active Members with intimate involvement in the Beijing Improv Community may be nominated to lead a workshop at the discretion of the Bilingual Workshop Coordinator.
p iii)  双语即兴工作坊
p
	| 所有活跃成员均须按照双语即兴工作坊的安排，在每一周期的工作坊中至少带领一次。无法胜任或客观上无法带领工作坊的成员必须在北京即兴中志愿担任一个其他的行政职位，或作为该等职位的候选人。在极端情况下，根据出勤守则，双语即兴工作坊协调人可自行决定，提名一位与北京即兴社区有密切关联之人士带领工作坊。
p
	strong  
ol
	li
		strong iv) Community 
p
	| Beijing Improv shall also foster the Beijing Improv Community. Membership to the Beijing Improv community shall be less strictly defined than full membership, and shall include regular participants in Beijing Improv workshops, volunteers with associated organizations and all those who contribute to the advancement of improv in the city of Beijing.
ol
	li iv) 社区
p
	| 北京即兴应促进北京即兴社群之发展。社群成员资格的定义不像正式成员资格那样严格。其包含定期参与北京即兴工作坊，或在相关组织中参与志愿工作之人士，也包括在北京为即兴戏剧贡献力量之人士。
p
	strong  
ol
	li
		strong v) Auditions 
p
	| The Mainstage Performance groups of Beijing Improv must admit new members at regular intervals according to their respective AUDITION PROTOCOLS. Auditions shall be open to all members of the Beijing Improv Community. Groups shall strive to add members who embrace the values and goals of Beijing Improv and will compliment and stretch existing members of the group.
ol
	li v) 面试
p 北京即兴表演团队应根据其相应之面试守则定期招收新成员。面试将向所有北京即兴社群开放。各团队应努力招收认同北京即兴价值和目标，且可以为现有团队增色的新成员。
p
	strong  
h1
	a(name='_Toc486690620')
	| SECTION TWO (2): LEADERSHIP
p
	| 第二部分（
	strong 2
	| ）：领导团队
p  
ol
	li
		a(name='_Toc486690621')
		|  The Board of Directors (BoD)
	li
		strong 董事会
		strong （
		strong BoD
		strong ）
p
	strong  
ol
	li
		strong i) Composition and Procedures 
p
	| Each performance group will elect, on a yearly basis or as needed, two Coordinators to represent their interests, goals and opinions to the Board of Directors (hereafter BoD).
ol
	li i) 董事会构成及运作
p 每个表演团队应每年或按需进行一次选举，选出两名能够代表团队意愿、目标和意见之协调人，协调人将进入董事会（以下简称BoD）。
p
	strong  
ol
	li
		strong ii) The responsibilities of the BoD are to: 
ul
	li
		em Ensure there is proper coordination between group performances and workshops. 
	li
		em Ensure the publicity, branding and PR is consistent for all groups. 
	li
		em Be mindful of the financial situation of all groups. 
	li
		em
			| Assist and advise on the logistics and curriculum of all Beijing Improv productions, outreach programs, community involvement and workshops.
	li
		em Facilitate multiple-group productions and events as necessary. 
	li
		em Elect the Bilingual Workshop Coordinator on an annual basis or as needed. 
	li
		em
			| Publicly represent the goals and ideology of Beijing Improv in accordance with the MEDIA PROTOCOLS
		em . 
ol
	li
		strong ii) 
		| 董事会成员的职责包括：
ul
	li 确保团队表演和工作坊之协调。
	li 确保推广宣传、品牌形象及公共关系在各团队间的一致性。
	li 时刻了解各团队之财务状况。
	li 在北京即兴的表演活动、延伸项目，社区活动和工作坊中，对后勤及日程安排进行协助及建议；
	li 按需协助多个表演组的表演与活动。
	li 每年或在需要时选举双语工作坊协调员。
	li 根据媒体守则，在公开范围内代表北京即兴的目标及理念。
p  
p
	strong iii) 
	| The BoD shall meet once every 8 weeks, or more frequently as needed, and correspond regularly over digital channels. The board shall strive to make decisions unanimously. Should this not be possible a simple majority approval is needed for any and all decisions.
p iii) 董事会成员每8周进行一次会面，或按需更频繁地进行会面，且定期不见面交流。董事会努力达成一致意见。如果无法达成，则需按照一般多数原则投票表决。
p
	strong  
ol
	li
		strong iv) 
		| The following personnel must be in attendance at any and all scheduled meetings of the BoD, except in extreme circumstances as outlined in the ATTENDANCE PROTOCOLS.
p Chairperson
p English Coordinators
p BIG Coordinators
p Bilingual Workshop Coordinator
p Technical Officer
ol
	li iv) 除在出勤守则中列示的极端情况外，以下成员必须参与全部计划内的董事会议
p 主席
p 英文组协调人
p 双语组协调人
p 双语工作坊协调人
p 技术专员
p
	strong  
ol
	li
		strong v) 
		| All Active Members may attend any and all scheduled BoD meetings at the discretion of the BoD.
	li
		strong v) 
		| 若董事会许可，任一活跃成员均可参与计划内的董事会议。
p
	strong  
ol
	li
		strong vi) 
		| HuaDan members may and are encouraged to attend any and all scheduled BoD meetings as desired.
p 。
p
	strong  
ol
	li
		a(name='_Toc486690622')
		|  Group Coordinators
	li
		strong b) 
		strong 团队协调员
p
	strong  
ol
	li
		strong i) 
		| Group Coordinators are responsible for logistical communication within their group, between its individual members, as well the BoD. Group Coordinators are also responsible for taking the initiative with inter-group communication.
	li i) 团队协调人负责在团队，每个成员及董事会之间的行政事务之沟通。团队协调人同时也负责牵头进行团队间沟通。
p
	strong
		br
p
	strong  
p
	strong  
ol
	li
		strong ii) Group Coordinators shall: 
ul
	li
		| Coordinate with their respective group’s Show Producer to ensure all listings and other publicity, both online and in print, are prepared and sent to the relevant publications and/or personnel according to the necessary deadlines.
	li
		| Coordinate with their respective group’s Show Producer to ensure all show information is posted online and that the venue is both reserved and will be fully staffed.
	li
		| Coordinate with the Beijing Improv Technical Officer to ensure that the Beijing Improv email account, website, online ticketing service, social media accounts and other online media are up to date and fully functional.
	li
		| Coordinate with their respective group’s Treasurer to ensure the financial health of their group.
	li Inform all groups of upcoming shows.
	li
		| Update all Active Members and current Guest Players, both verbally and via email, on any changes to rehearsal locations and/or times.
	li Relay minutes of all meetings to all members both verbally and via email.
	li
		| Represent their respective Group in all media appearances, unless otherwise determined, in accordance with the MEDIA PROTOCOLS.
	li Organize regular practice for its group.
ol
	li ii) 团队协调人应：
ul
	li 与其相应团队之演出制作人进行协调，确保演出和其他宣传，包括在线宣传及印刷品，都在必要之截止日期前准备完毕，并经相关渠道发布或分发给相关人员。
	li 与其相应团队之演出制作人进行协调，确保所有演出信息都已在网上发布，演出场所已预定并安排相关工作人员。
	li 与技术专员进行协调，确保北京即兴邮箱账号、网站、在线票务系统、公共媒体账号和其他在线传媒均已更至最新并完全正常运行。
	li 与其相应团队之财务人员进行协调，确保团队财务状况正常。
	li 向全部团队通知演出信息。
	li 若有任何排练地点或时间之变化，通知全部之活跃成员及目前的客串演员，包括通过口头及邮件方式。
	li 通过口头及邮件方式，向全体成员传达全部会议之会议记录。
	li 除非另有约定，根据媒体守则，在全部媒体露面时代表其各自团队。
p  
ol
	li
		a(name='_Toc486690623')
		| c) Board Roles and Responsibilities
	li
		strong c) 
		strong 董事会职责
p
	| Each group, through its representatives, must obtain prior approval from the BoD for the following:
ul
	li
		| Expenditures - any expenditures made by the relevant group. The board shall use as its primary consideration when approving expenditures the total revenue that group has brought in. The board will pre-approve a modest "discretionary" fund for each representative to allocate without prior approval.
	li
		| Performances - including location, time, promotional activity, content and entry fee.
	li
		| Additional workshops - including location, time, promotional activity, content and entry fee.
	li
		| Any and all commercial performances or collaborations, whether commercial or otherwise, with organizations outside of Beijing Improv.
	li
		| Amendments to Group Protocol s which might conflict with any clause specified in the Constitution.
p  
p 各团队若拟进行下列事项之实施，须通过其代表获得董事会事先批准：
ul
	li 董事会允许各组在一定数额的开销范围内自主消费。董事会在表决批准较大开支时应首先考虑申请组为北京即兴所带来的收入。
	li 表演：包括场地、时间、推广活动、内容及门票 。
	li 额外工作坊：包括场地、时间、推广活动、内容及门票。
	li 任何商业性质的演出、商业的或非营利的与北京即兴以外机构的合作。
	li 任何可能与章程中的条款相悖的修正案。
p  
ol
	li
		a(name='_Toc486690624')
		| d) Executive Roles
	li
		strong d) 
		strong 执行领导
p
	| The following are critical leadership roles to be directly elected by the BoD according to the ELECTORAL PROTOCOLS of the BoD.
p 以下各项是董事会根据其选举守则直接选举产生的关键职位。
p
	strong  
ol
	li
		strong i) Chairperson 
p
	| The Chairperson is responsible for scheduling and presiding at all BoD meetings as well as setting each meeting’s agenda according to suggestions provided in advance by individual Board Members. The position of Chairperson may be held concurrently with additional administrative roles. The Chairperson is directly elected by the BoD.
ol
	li i) 主席
p 主席负责安排并主持所有董事会议，同时根据各个董事会成员的预先建议拟定会议日程。主席一职可兼任额外的行政职位。主席由董事会直接选举产生。
p
	strong  
ol
	li
		strong ii) Bilingual Workshop Coordinator 
p
	| The Bilingual Workshop Coordinator is responsible for scheduling Bilingual Workshops according to the BILINGUAL WORKSHOP PROTOCOLS, liaising with workshop leaders and support leaders, liaising with the Bilingual Workshop venue and communicating any and all changes in circumstances directly to the BoD. The position of Bilingual Workshop Coordinator may be held concurrently with additional administrative roles. The Bilingual Workshop Coordinator is elected by all Active Members in both Beijing Improv English and BIG.
ol
	li ii) 双语工作坊协调人
p
	| 双语工作坊协调人负责根据双语工作坊守则安排工作坊的日程，与工作坊的带领人、助理带领人以及工作坊场地进行沟通协调，并将任何及全部之情况变化直接传达给董事会。此职位可以同时兼任其他行政职务。双语工作坊协调人由所有英文组和双语表演组的活跃成员共同选举产生。
p
	strong  
p
	strong iii) Technical Officer 
p
	| The Technical Officer is responsible for the maintenance of Beijing Improv’s digital assets, including but not limited to: the Beijing Improv website, online ticket booking service, online mailers, online marketing and web traffic monitoring. The position of Technical Officer may be held concurrently with additional administrative roles. The Technical Officer is appointed by the BoD.
p iii) 技术专员
p
	| 技术专员负责维护北京即兴的数字财产，包括但不限于：北京即兴的网站、在线票务系统、网上邮件、在线营销和网络流量监控。此职位可以同时兼任其他行政职务。技术专员一职由董事会任命。
p
	strong  
p
	strong  
ol
	li
		a(name='_Toc486690625')
		| e) Non-executive Roles
	li
		strong e) 
		strong 非执行领导
p
	| The following are critical leadership roles to be directly elected by the relevant group according to each group’s ELECTORAL PROTOCOLS and finally approved by the BoD.
p 以下各职位是相关团队根据其选举守则直接选举产生，且最终由董事会审批通过的关键职位。
p
	strong  
ol
	li
		strong i) English/BIG Treasurers 
p
	| The Treasurer is responsible for looking after their group’s financial health and handling any and all financial transactions. The Treasurer will issue monthly and quarterly reports to the BoD to keep all Group Coordinators informed as to their respective group’s financial health. The position of Treasurer may be held concurrently with additional administrative roles. Treasurers are directly elected by Active Members in their respective Groups.
ol
	li
		| i) 英文组
		strong /
		| 双语组 财务人员
p
	| 财务人员负责组内财务状况并负责处理账务移交。财务应向董事会提交每月及每季度财务报告以便所有组织协调人能够清楚自己组内的财务状况。此职位可以同时兼任其他行政职务。财务由本组内的活跃成员选举产生。
p  
ol
	li
		strong ii) English/BIG Group Coordinators 
p
	| See: Section Two, b, i-ii. The position of English/BIG Group Coordinator may be held concurrently with additional administrative roles. Group Coordinators are directly elected by Active Members in their respective Groups.
ol
	li
		| ii) 英文组
		strong /
		| 双语组 组织协调人
p 参见：第二部分b，i至ii. 英文组/双语组组织协调人可以同时兼任其他行政职务。组织协调人由各组的活跃成员选举产生。
p  
p
	strong iii) English/BIG Show Producers 
p
	| The role and responsibilities of Show Producers are outlined in the SHOW PRODUCER CHECKLIST. This position may be held concurrently with any additional administrative roles. Show Producers are appointed by their respective Group Coordinators.
p iii) 英文组/双语组演出制作人
p 演出制作人的职责在“演出制作人工作清单”中列出。这一职位可以同时兼任其他行政职务，并由各组协调人指定产生。
p  
p  
p
	strong  
p
	strong
		br
p
	strong  
h1
	a(name='_Toc486690626')
	| SECTION THREE (3): SHOWS
p
	| 第三部分（
	strong 3
	| ）：演出
p  
ol
	li
		a(name='_Toc486690627')
		| a) Performance and Performance Policies
	li
		strong a) 
		strong 演出与表演制度
p
	strong  
p
	| Performance by any group must meet the following guidelines before it can be approved by the BoD:
ul
	li
		| Be predominantly improvised in that the majority of the content in the performance is theatrical in nature and is not planned or prepared in advance.
	li
		| Be produced as a not-for-profit volunteer event. No member of Beijing Improv may be remunerated for performances which are staged in the name of Beijing Improv.
	li Be produced with the ideal goal that anyone in the community can attend.
	li
		| Should a voluntary entrance fee be charged, proceeds from the event should benefit a community organization. The BoD reserves the right to determine the allocation of funds.
	li
		| Be clearly and honestly advertised. The performance language(s) of the show (Mandarin/English) must be stated clearly.
p 任何团队之演出须满足下述要求方可获得董事会批准：
ul
	li 须以即兴作为主要表演形式，即表演的大部分内容须为舞台演出，且无剧本。
	li 须为非盈利志愿活动。在以北京即兴为名义的演出中，所有北京即兴成员均不可接受报酬。
	li 须以社群中每个人都能参与作为理想目标。
	li 若设立自愿付款的门票，活动净收入须帮助一社区组织。董事会保留决定收入分配之权利。
	li 须清晰、真实地进行广告宣传。演出时表演之语言（普通话/英语）须清晰列示。
p  
p  
ol
	li
		a(name='_Toc486690628')
		| b) Show Producer
	li
		strong b) 
		strong 演出制作人
p
	strong  
p
	| Each performance must be staged by the relevant group, primarily through collaboration between the respective Group Coordinators and their respective Show Producer. The Show Producer is the point person for all matters relating to said performance, including venue liaison, staffing, technical support, box office, publicity, front-of-house administration and stage management. The Show Producer shall carry out their duties in accordance with the SHOW PRODUCER CHECKLIST appended to this document to ensure all tasks are completed in a timely fashion.
p
	| 每场演出需由相关团队上台表演，由各组的协调人及各自的演出制作人协同制作。制作人是演出全部相关事宜的主要负责人。这些事务包括场地的协调，人员调配，技术支持，票务 ，宣传，前台管理和舞台管理等。演出制片应根据演出制作人工作职责清单执行自己的职责，确保所有工作能够及时完成。
p
	strong
		br
p
	strong  
h1
	a(name='_Toc486690629')
	| SECTION FOUR (4) - FINANCE
p 第四部分（4）：财务
p  
ol
	li
		a(name='_Toc486690630')
		| a) Financial Policies
	li
		strong a) 
		strong 财务规定
p
	strong  
ol
	li
		strong i) 
		| Beijing Improv has always been and shall remain a not-for-profit all volunteer organization whose unequivocal goal shall be for the benefit of the community. All revenues generated by Beijing Improv go to the main organization, while proceeds shall benefit a community NGO and are allocated at the discretion of BoD.
	li
		| i) 北京即兴一直是且将保持其非盈利志愿组织的性质，以服务社区作为其明确目标。所有北京即兴产生之收入都将进入平台组织，且所有盈利都应资助一个非政府组织，分配权归董事会。
p
	strong  
ol
	li
		strong ii) Performances 
p See: Section Two, c), i)  
ol
	li ii) 演出
p 参见：第二部分，C), i)
p  
p
	strong iii) Commercial Opportunities 
p
	| Active Members of Beijing Improv may lead commercial workshops or performances. A commercial improv event involves at least one member of Beijing Improv and satisfies one or more of the following:
ul
	li Uses the Beijing Improv name or image
	li Was set up through the Beijing Improv organization
p iii) 商演机会
p 北京即兴的活跃成员可带领商业性质工作坊或参加商业演出。商业即兴活动须包含至少一位北京即兴成员且满足以下至少一条：
ul
	li 使用北京即兴之名称或图标。
	li 由北京即兴组织安排。
p  
p
	| Commercial performance opportunities negotiated on an individual basis by an Active Member(s) and undertaken independently of the Beijing Improv brand name shall not be made subject to the above restrictions, but shall instead be negotiated on a case-by-case basis.
p 由活跃成员自行洽谈且独立运作的不以北京即兴为品牌的商演不受上述条款限制，但须一事一议。
p
	strong  
p
	| All commercial opportunities undertaken in the name of Beijing Improv must be approved by the BoD. Each commercial opportunity shall be coordinated through one or both performance groups as applicable.
p 所有以北京即兴为品牌运作的商演须由董事会批准，必要时与一个或两个表演团队进行协调。
p
	strong  
p
	| The Beijing Improv organization shall take 30% of the profit from each commercial opportunity undertaken by Active Members as outlined above. The remainder shall be divided between members directly involved in the commercial opportunity at their discretion.
p 在上述提到的由活跃成员运作的商业演出中，北京即兴将收取演出利润之30%。余下部分由参与表演的组织成员自行分配。
p
	strong  
p
	| It is understood by all Members that commercial opportunities are a means for Beijing Improv to continue to offer service to the community. Each Member must make their best effort to participate in and pursue commercial opportunities so as to generate revenue for the group.
p 有成员均理解，商业机会是北京即兴持续向社区提供服务的一种途径。每一个成员均应尽最大努力参加、寻找商业机会，为团队创造收入。
p
	strong  
p  
p  
p
	| This Constitution was ratified by the Beijing Improv Board of Directors, on this day of
p 本章程由北京即兴董事会于以下日期修订
p ____/____/____
p SIGNED
p  
p  
p  
