extends ../layouts/default

block content
	.container: .jumbotron
		center
			.image-block
				img(src='http://res.cloudinary.com/beijingimprov-org/image/upload/c_scale,w_230/v1499397719/Beijing_Improv_jfsoul.jpg')
				img(src='http://res.cloudinary.com/beijingimprov-org/image/upload/v1498807224/BJI_logo_q5hyjr.jpg')
				img(src='http://res.cloudinary.com/beijingimprov-org/image/upload/c_scale,w_200/v1499397701/Manila2_d2wj5x.jpg')
		hr
		p Beijing Improv is China’s oldest and largest Improvised Theater organization. Beijing Improv is comprised of two groups, the Mainstage English Players and the Bilingual Improv Group (BIG).
		p Beijing Improv is a community not for profit organization – 100% of all proceeds from Beijing Improv events are donated to internationally run China-based NGOs.
		p Beijing Improv 是中国成立最早的、最大的即兴表演团体。Beijing Improv由英文表演组和双语组（BIG）组成。周三双语工作坊也一直很火爆，参与者众多。
		p Beijing Improv是一个非营利组织。100%的演出收入都捐赠给服务于本土的国际非营利组织。

