extends ../layouts/default

block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			style(type='text/css').
				.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
				.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
				.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
				.tg .tg-baqh{text-align:center;vertical-align:top}
				.tg .tg-d7pc{font-weight:bold;background-color:#7aae69;color:#000000;text-align:center;vertical-align:top}
				.tg .tg-io8s{background-color:#7aae69;vertical-align:top}
				.tg .tg-yw4l{vertical-align:top}
				.tg .tg-6k2t{background-color:#D2E4FC;vertical-align:top}
				.tg .tg-j0tj{background-color:#D2E4FC;text-align:center;vertical-align:top}
			table.tg
				tr
					th.tg-d7pc(colspan='4')
						| BILINGUAL WORKSHOP SCHEDULE
						br
						| 北京即兴话剧双语工作坊
				tr
					td.tg-io8s Date
					td.tg-io8s Topic 主题
					td.tg-io8s Leader 领导1
					td.tg-io8s Leader 领导2
				tr
					td.tg-yw4l
					td.tg-baqh
						| Giving Offers/Saying Yes!
						br
						| 给建议/说yes!
					td.tg-yw4l
					td.tg-yw4l
				tr
					td.tg-6k2t
					td.tg-j0tj
						| Character + intro to CROW
						br
						| 角色 + 开始介绍“CROW”
					td.tg-6k2t
					td.tg-6k2t
				tr
					td.tg-yw4l
					td.tg-baqh
						| Relationship
						br
						| 关系
					td.tg-yw4l
					td.tg-yw4l
				tr
					td.tg-6k2t
					td.tg-j0tj
						| Objective (+ Emotions)
						br
						| 目标（＋感情）
					td.tg-6k2t
					td.tg-6k2t
				tr
					td.tg-yw4l
					td.tg-baqh
						| Physicality / Mime
						br
						| 身体语言 / 哑剧
					td.tg-yw4l
					td.tg-yw4l
				tr
					td.tg-6k2t
					td.tg-j0tj
						| Storytelling/Narrative
					br
						| 讲故事
					td.tg-6k2t
					td.tg-6k2t
				tr
					td.tg-yw4l
					td.tg-baqh
						| Where / Environment
						br
						| 地点 / 环境
					td.tg-yw4l
					td.tg-yw4l
				tr
					td.tg-6k2t
					td.tg-j0tj
						| Justification
						br
						| 合理化
					td.tg-6k2t
					td.tg-6k2t
				tr
					td.tg-yw4l
					td.tg-baqh
						| Spontaneity
						br
						| 自发性
					td.tg-yw4l
					td.tg-yw4l
				tr
					td.tg-6k2t
					td.tg-j0tj
						| Focus / Shared Control
						br
						|  注意力／分享控制
					td.tg-6k2t
					td.tg-6k2t
				tr
					td.tg-yw4l
					td.tg-baqh
						| Status
						br
						| 地位
					td.tg-yw4l
					td.tg-yw4l

